:root {
  --contentWidth: 1200px;
}

@font-face {
  font-family: "FrederickatheGreat-Regular";
  src: url("./FrederickatheGreat-Regular.woff");
}

html {
  font-family: "FrederickatheGreat-Regular";
  margin: 0;
  height: 100vh;
  background-color: #64748b;
}

button {
  font-family: "FrederickatheGreat-Regular";
  font-size: 1.5rem;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "left right";
}

/* ---------- TITLE ---------- */

#title {
  color: #f1f5f9;
  font-size: 3rem;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  grid-area: header;
}

/* ---------- MODE BOX ---------- */

#left_body {
  grid-area: left;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#mode_box {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

#player_selection {
  display: flex;
  padding-bottom: 20px;
}

.players {
  color: #f1f5f9;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_div {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  transition-duration: 0.4s;
  background-color: #e2e8f0;
  color: black;
  border-radius: 15px;
  padding: 15px;
  margin-right: 5px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .button:hover {
  background-color: #1e293b;
  color: #e2e8f0;
} */

.button:active {
  background-color: #1e293b;
  color: #e2e8f0;
  box-shadow: 0 5px #334155;
  transform: translateY(5px);
  transition-duration: 0.4s;
}

.button:focus {
  background-color: #1e293b;
  color: #e2e8f0;
}

.button:visited {
  background-color: #1e293b;
  color: #e2e8f0;
}

/* ---------- TEXT DISPLAY ---------- */
#right_body {
  grid-area: right;
}

.text_display {
  color: #f1f5f9;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/* ---------- GRID BOARD ---------- */

#grid_board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  justify-content: center;
}

.grid_child {
  display: grid;
  background-color: white;
  color: #1e293b;
  justify-items: center;
  align-items: center;
  border: 2px solid #64748b;
  font-size: 6rem;
}

#grid_1 {
  grid-area: one;
}

#grid_2 {
  grid-area: two;
}

#grid_3 {
  grid-area: three;
}

#grid_4 {
  grid-area: four;
}

#grid_5 {
  grid-area: five;
}

#grid_6 {
  grid-area: six;
}

#grid_7 {
  grid-area: seven;
}

#grid_8 {
  grid-area: eight;
}

#grid_9 {
  grid-area: nine;
}

#restart {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

#start_btn {
  transition-duration: 0.4s;
  background-color: #e2e8f0;
  color: black;
  border-radius: 15px;
  padding: 15px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#start_btn:hover {
  background-color: #1e293b;
  color: #e2e8f0;
}

#start_btn:active {
  background-color: #1e293b;
  color: #e2e8f0;
  box-shadow: 0 5px #334155;
  transform: translateY(5px);
  transition-duration: 0.4s;
}
