/* ---------- HTML SKELETON ---------- */

:root {
  --contentWidth: 1200px;
}

@font-face {
  font-family: "FrederickatheGreat-Regular";
  src: url("./FrederickatheGreat-Regular.woff");
}

html {
  font-family: "FrederickatheGreat-Regular";
  margin: 0;
  height: 100vh;
  background-color: #64748b;
}

button {
  font-family: "FrederickatheGreat-Regular";
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 20% 50%;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header header"
    "- text"
    "left right";
}

/* ---------- TITLE ---------- */

#title {
  color: #f1f5f9;
  font-size: 3.5rem;
  padding-top: 20px;
  padding-left: 20px;
  grid-area: header;
}

/* ---------- TEXT DISPLAY ---------- */

.text_display {
  color: #f1f5f9;
  grid-area: text;
  font-size: 1.5rem;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}

/* ---------- LEFT BODY ---------- */

#left_body {
  grid-area: left;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

/* ---------- MODE BOX ---------- */

#mode_box {
  padding-bottom: 15px;
}

#myForm {
  color: #f1f5f9;
  font-size: 1.5rem;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(7, 0.5fr);
  grid-template-areas:
    "player1 player1 player1"
    "name1 name1 name1"
    "sides sides ."
    "vs vs vs"
    "player2 player2 player2"
    "name2 name2 name2"
    "type type .";
  gap: 10px;
}

#playerOne {
  grid-area: player1;
}

#playerTwo {
  grid-area: player2;
}

#playerName1 {
  grid-area: name1;
  color: black;
  font-size: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playerName2 {
  grid-area: name2;
  color: black;
  font-size: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vs {
  color: #f1f5f9;
  font-size: 1.8rem;
  grid-area: vs;
  display: flex;
  justify-content: center;
}

#xo {
  grid-area: sides;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "X O";
  gap: 8%;
}

#x {
  grid-area: X;
}

#o {
  grid-area: O;
}

#humanAi {
  grid-area: type;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "human ai";
  gap: 8%;
}

#human {
  grid-area: human;
}

#ai {
  grid-area: ai;
}

/* ---------- RESTART/START BUTTON ---------- */

#restart {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

#startBtn,
#restartBtn {
  transition-duration: 0.4s;
  background-color: #e2e8f0;
  color: black;
  border-radius: 15px;
  padding: 15px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#startBtn:hover,
#restartBtn:hover {
  background-color: #1e293b;
  color: #e2e8f0;
}

#startBtn:active,
#restartBtn:active {
  background-color: #1e293b;
  color: #e2e8f0;
  box-shadow: 0 5px #334155;
  transform: translateY(5px);
  transition-duration: 0.4s;
}

/* ---------- RIGHT BODY ---------- */

#right_body {
  grid-area: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- GRID BOARD ---------- */

#grid_board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  justify-content: center;
}

.grid_child {
  display: grid;
  background-color: white;
  color: #1e293b;
  justify-items: center;
  align-items: center;
  border: 2px solid #64748b;
  font-size: 8rem;
}

#grid_1 {
  grid-area: one;
}

#grid_2 {
  grid-area: two;
}

#grid_3 {
  grid-area: three;
}

#grid_4 {
  grid-area: four;
}

#grid_5 {
  grid-area: five;
}

#grid_6 {
  grid-area: six;
}

#grid_7 {
  grid-area: seven;
}

#grid_8 {
  grid-area: eight;
}

#grid_9 {
  grid-area: nine;
}
