:root {
    --contentWidth: 1200px;
}
@font-face {
    font-family: "FrederickatheGreat-Regular";
    src: url("./FrederickatheGreat-Regular.woff");
}

html {
    font-family: "FrederickatheGreat-Regular";
    margin: 0;
    height: 100vh;
}